* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: "Poppins",sans-serif ;
}
:root{
    --bg-color : #081b29;
    --main-color : #1A4D2E;
    --text-color : #F5EFE6;
    --secound-text-color : #E8DFCA;
    --white-color : white;
    --cover-color :linear-gradient(45deg, #1A4D2E, #0b341b);
    --pages-color :linear-gradient(90deg, white, #ddd);
    --border : .125rem solid #1A4D2E;
    --box-shadow : 0 0 .6rem rgba(0,0,0,.2);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-color);
}
.wrapper{
    position: relative;
    width: 66rem;
    height: 45rem;
    /* background-color: red; */
}
.cover{
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--cover-color);
    box-shadow: var(--box-shadow);
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
    transform-origin: right;
}

.cover .cover-right .turn{
    transform: rotateY('angle');
}